In [22]:
import pandas as pd

daily_df = pd.read_csv(r'G:\내 드라이브\노마드코더\ronacorona-dashboard\data\daily_report.csv')

countries_df = daily_df[["Country_Region","Confirmed","Deaths","Recovered"]]
countries_df = daily_df.groupby("Country_Region").sum().reset_index()

countries_df

,Country_Region,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,0.0,0,0,2022-01-09 04:21:46,33.939110,67.709953,158309,7369,0.0,0.0,Afghanistan,406.667728,4.654821
1,Albania,0.0,0,0,2022-01-09 04:21:46,41.153300,20.168300,214905,3233,0.0,0.0,Albania,7467.683647,1.504386
2,Algeria,0.0,0,0,2022-01-09 04:21:46,28.033900,1.659600,221742,6330,0.0,0.0,Algeria,505.670983,2.854669
3,Andorra,0.0,0,0,2022-01-09 04:21:46,42.506300,1.521800,26408,141,0.0,0.0,Andorra,34178.476671,0.533929
4,Angola,0.0,0,0,2022-01-09 04:21:46,-11.202700,17.873900,89251,1819,0.0,0.0,Angola,271.558061,2.038072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0.0,0,0,2022-01-09 04:21:46,31.952200,35.233200,471414,4954,0.0,0.0,West Bank and Gaza,9240.846071,1.050881
197,Winter Olympics 2022,0.0,0,0,2022-01-09 04:21:46,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,0.000000,0.000000
198,Yemen,0.0,0,0,2022-01-09 04:21:46,15.552727,48.516388,10178,1986,0.0,0.0,Yemen,34.124626,19.512674
199,Zambia,0.0,0,0,2022-01-09 04:21:46,-13.133897,27.849332,281576,3798,0.0,0.0,Zambia,1531.639871,1.348837
200,Zimbabwe,0.0,0,0,2022-01-09 04:21:46,-19.015438,29.154857,221918,5148,0.0,0.0,Zimbabwe,1493.097557,2.319776